name: Build Roblox Place

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Rojo
        uses: rojo-rbx/setup-rojo@v1
        with:
          version: 7.6.0

      - name: Build place
        run: rojo build default.project.json -o build.rbxlx

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: roblox-place
          path: build.rbxlx
